$P_a(t + 1) = \frac{(c + n_A(t))^\alpha}{(c + n_A(t))^\alpha + (c + n_B(t))^\alpha} = 1 - P_B(t)$

$P_A$

$P_B$

$(c + n_B(t))$

$(c + n_A(t))$

$r \leq P_A$

$P$

$A$

$B$

$\tau$

**iteration $t$** \
$t$

**pheromone intensity between node $i$ and node $j$ at iteration $t$** \
$\tau_{i,j}(t)$

**pheromone intensity between node $i$ and node $j$ at iteration 0** \
$\tau_{i,j}(0)$

$\tau_{1,4}(t)$

$\tau_{2,3}(t)$

$\tau_{4,5}(t)$

**edge of node $i$ and node $j$** \
$(i,j)$

**length of path from source to destination constructed by ant $k$ at iteration $t$** \
$L^k(t)$

**path/solution found by ant $k$ which is the set of edges $(i, j)$ or nodes**\
$x^k(t)$

**next generation $t + 1$**\
$t + 1$

$j\in\mathscr{N}^k_i(t)$

$k$

$\mathscr{N}^k_i(t)$

$P^k_{i,j}=\begin{cases}\frac{\tau^\alpha_{i,j}(t)}{\sum_{u\in{\mathscr{N}^k_{i}(t)}}^{}\tau^\alpha_{i,u}(t)} & \text{ if } j\in{\mathscr{N}^k_i}(t) \\ 0 & \text{ otherwise }\end{cases}$

$\mathscr{N}^{10}_6(1) = \{1, 2, 3\}$

$\frac{\tau^\alpha_{6,1}(1)}{\sum_{u\in{\mathscr{N}^{10}_6(1)}}^{10}\tau^\alpha_{6,u}(1)}$

$\frac{\tau^\alpha_{6,1}(1)}{\tau^\alpha_{6,1}(1) + \tau^\alpha_{6,2}(1) + \tau^\alpha_{6,3}(1)}$

$\alpha > 0$

$k = \{1, ..., n_k\}$

$n_k$

$\mathscr{N}^k_i(t) = 0$

$k = \{1, 2\}$

$G = \{(1, 2), (1, 4), (2, 4), (2, 3), (4, 3), (3, 5), (4, 5)\}$

$\Tau = \begin{bmatrix}
0 & \tau_{1,2} & 0 & \tau_{1,4} & 0\\
\tau_{2,1} & 0 & \tau_{2,3} & \tau_{2,4} & 0\\
0 & \tau_{3,2} & 0 & \tau_{3,4} & \tau_{3,5}\\
\tau_{4,1} & \tau_{4,2} & \tau_{4,3} & 0 & \tau_{4,5}\\
0 & 0 & \tau_{5,3} & \tau_{5,4} & 0\\
\end{bmatrix}$

$D = \begin{bmatrix}
0 & d_{1,2} & 0 & d_{1,4} & 0\\
d_{2,1} & 0 & d_{2,3} & d_{2,4} & 0\\
0 & d_{3,2} & 0 & d_{3,4} & d_{3,5}\\
d_{4,1} & d_{4,2} & d_{4,3} & 0 & d_{4,5}\\
0 & 0 & d_{5,3} & d_{5,4} & 0\\
\end{bmatrix}$

$n_k = 2$

$\alpha = 1$

$Q = 1$

$\mathscr{N}^1_1(t) = \{2, 4\}$

$P^1_{1,2}(t) = \frac{\tau^\alpha_{1,2}(t)}{\tau^\alpha_{1,2}(t) + \tau^\alpha_{1,4}(t)}$

$P^1_{1,4}(t) = \frac{\tau^\alpha_{1,4}(t)}{\tau^\alpha_{1,2}(t) + \tau^\alpha_{1,4}(t)}$

$acc = 0$

$acc_{P^1_{1,2}(t)} = P^1_{1,2}(t) + acc$

$acc_{P^1_{1,4}(t)} = P^1_{1,4}(t) + acc_{P^1_{1,2}(t)}$

$\mathscr{N}^1_4(t) = \{2, 3, 5\}$

$P^1_{4,2}(t) = \frac{\tau^\alpha_{4,2}(t)}{\tau^\alpha_{4,2}(t) + \tau^\alpha_{4,3}(t) + \tau^\alpha_{4,5}(t)}$

$P^1_{4,3}(t) = \frac{\tau^\alpha_{4,3}(t)}{\tau^\alpha_{4,2}(t) + \tau^\alpha_{4,3}(t) + \tau^\alpha_{4,5}(t)}$

$P^1_{4,5}(t) = \frac{\tau^\alpha_{4,5}(t)}{\tau^\alpha_{4,2}(t) + \tau^\alpha_{4,3}(t) + \tau^\alpha_{4,5}(t)}$

$acc = 0$

$acc_{P^1_{4,2}(t)} = P^1_{4,2}(t) + acc$

$acc_{P^1_{4,3}(t)} = P^1_{4,3}(t) + acc_{P^1_{4,2}(t)}$

$acc_{P^1_{4,5}(t)} = P^1_{4,5}(t) + acc_{P^1_{4,3}(t)}$

$\mathscr{N}^1_3(t) = \{2, 5\}$

$P^1_{3,2}(t) = \frac{\tau^\alpha_{3,2}(t)}{\tau^\alpha_{3,2}(t) + \tau^\alpha_{3,5}(t)}$

$P^1_{3,5}(t) = \frac{\tau^\alpha_{3,5}(t)}{\tau^\alpha_{3,2}(t) + \tau^\alpha_{3,5}(t)}$

$acc = 0$

$acc_{P^1_{3,2}(t)} = P^1_{3,2}(t) + acc$

$acc_{P^1_{3,5}(t)} = P^1_{3,5}(t) + acc_{P^1_{3,2}(t)}$

$x^1(t) = \{1, 4, 3, 5\}$

$f(x^1(t)) = d_{1, 4} + d_{4, 3} + d_{3, 5}$

$\tau_{1, 4 | 4, 1}$

$d_{1, 4 | 4, 1}$

$\tau_{1, 2 | 2, 1}$

$d_{1, 2 | 2, 1}$

$\tau_{2, 3 | 3, 2}$

$d_{2, 3 | 3, 2}$

$\tau_{2, 4 | 4, 2}$

$d_{2, 4 | 4, 2}$

$\tau_{3, 5 | 5, 3}$

$d_{3, 5 | 5, 3}$

$\tau_{4, 3 | 3, 4}$

$d_{4, 3 | 3, 4}$

$\tau_{4, 5 | 5, 4}$

$d_{4, 5 | 5, 4}$

**Sample using different methods of updating pheromone intensity/positive feedback**\

**distance adjacency matrix $D$**\
$D = \begin{bmatrix}
{-} & 10 & {-} & 6 & {-}\\
10 & {-} & 2 & 14 & {-}\\
{-} & 2 & {-} & 12 & 7\\
6 & 14 & 12 & {-} & 15\\
{-} & {-} & 7 & 15 & {-}\\
\end{bmatrix}$

**pheromone intensity adjacency matrix $\Tau$**\
$\Tau = \begin{bmatrix}
{-} & 0.3 & {-} & 0.8 & {-}\\
0.3 & {-} & 1.5 & 0.1 & {-}\\
{-} & 1.5 & {-} & 0.9 & 0.5\\
0.8 & 0.1 & 0.9 & {-} & 0.2\\
{-} & {-} & 0.5 & 0.2 & {-}\\
\end{bmatrix}$

$\tau_{i,j}(t + 1) = \tau_{i, j}(t) + \sum_{k = 1}^{n_k} \Delta \tau^k_{i, j}(t)$

$x^1(t) = \{1, 4, 3, 5\} | \{(1, 4), (4, 3), (3, 5)\}$

$x^2(t) = \{1, 2, 3, 5\} | \{(1, 2), (2, 3), (3, 5)\}$

**For Ant-Cycle with Ant System 1**\
$\tau_{1, 4 | 4, 1}(t + 1) = \tau_{1, 4 | 4, 1}(t) + \frac{Q}{f(x^1(t))} + 0$

$\tau_{1, 2 | 2, 1}(t + 1) = \tau_{1, 2 | 2, 1}(t) + 0 + \frac{Q}{f(x^2(t))}$

$f(x^1(t))$ is 4 since length of $x^1(t) = \{1, 2, 3, 5\} | \{(1, 2), (2, 3), (3, 5)\}$ is 4\
$\tau_{1, 4 | 4, 1}(t + 1) = 0.8 + \frac{1}{4} + 0$

$f(x^2(t))$ is 4 since length of $x^2(t) = \{1, 2, 3, 5\} | \{(1, 2), (2, 3), (3, 5)\}$ is 4\
$\tau_{1, 2 | 2, 1}(t + 1) = 0.8 + 0 + \frac{1}{4}$

**Ant-density with Ant System 1**\
$\tau_{1, 4 | 4, 1}(t + 1) = \tau_{1, 4 | 4, 1}(t) + Q + 0$

$\tau_{1, 2 | 2, 1}(t + 1) = \tau_{1, 2 | 2, 1}(t) + 0 + Q$

$\tau_{1, 4 | 4, 1}(t + 1) = 0.8 + 1 + 0$

$\tau_{1, 2 | 2, 1}(t + 1) = 0.8 + 0 + 1$

**Ant-quantity with Ant System 1**\
$\tau_{1, 4 | 4, 1}(t + 1) = \tau_{1, 4 | 4, 1}(t) + \frac{Q}{d_{i, j}(t)} + 0$

$\tau_{1, 2 | 2, 1}(t + 1) = \tau_{1, 2 | 2, 1}(t) + 0 + \frac{Q}{d_{i, j}(t)}$

$\tau_{1, 4 | 4, 1}(t + 1) = 0.8 + \frac{1}{6} + 0$

$\tau_{1, 2 | 2, 1}(t + 1) = 0.8 + 0 + \frac{1}{10}$

$(1, 4)$

$(1, 2)$

$(1, 4 | 4, 1)$

$(1, 2 | 2, 1)$

$(2, 3 | 3, 2)$

$(2, 4 | 4, 2)$

$(3, 5 | 5, 3)$

$(4, 3 | 3, 4)$

$(4, 5 | 5, 4)$

$y = mx + \beta$

$y = \theta_1x + \beta_0$

$y = \beta_0 + \theta_1x_1 + \theta_2x_2 + \theta_3x_3 + \cdots$

$y = \beta_01 + \theta_1x_1 + \theta_2x_2 + \theta_3x_3 + \cdots$

$y = \theta_01 + \theta_1x_1 + \theta_2x_2 + \theta_3x_3 + \cdots + \theta_nx_n$

And so this is where the linear algebra part of machine learning comes into play. Where instead of singular values we now perform usual MDAS (mulitplication, division, addition, and subtraction) operations on multiple values simulataneously.

$\begin{bmatrix}
{\theta_1} & {\theta_2} & {\theta_3} & {\theta_4} & {\cdots} & {\theta_n}\\
\end{bmatrix}$

$\begin{bmatrix}
{x_1} & {x_2} & {x_3} & {x_4} & {\cdots} & {x_n}\\
\end{bmatrix}$

$y = \begin{bmatrix}
{\theta_1} \\ {\theta_2} \\ {\theta_3} \\ {\theta_4} \\ {\vdots} \\ {\theta_n}\\
\end{bmatrix} \cdot \begin{bmatrix}
{x_1} & {x_2} & {x_3} & {x_4} & {\cdots} & {x_n}\\
\end{bmatrix} + \beta_0$

$y = \theta x + \beta_0$

$J(\theta)=\frac{1}{2m} (\sum_{i = 0}^{m - 1}(h_\theta(x^{(i)}) - y^{(i)}))$

$J(\theta)=\frac{1}{2m} \sum_{i = 0}^{m - 1}((mx^{(i)}+\beta) - y^{(i)})^2$

$J(\frac{1}{3}, 1)=\frac{1}{2m} ((\frac{1}{3}(2)+1) - 6)^2 + ((\frac{1}{3}(4)+1) - 7)^2 + ((\frac{1}{3}(5)+1) - 10)^2 + ((\frac{1}{3}(9)+1) - 13)^2 + ((\frac{1}{3}(12)+1) - 13)^2$

$J(1, 2)=\frac{1}{2m} ((1(2)+2) - 6)^2 + ((1(4)+2) - 7)^2 + ((1(5)+2) - 10)^2 + ((1(9)+2) - 13)^2 + ((1(12)+2) - 13)^2$

In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import dataframe_image as dfi

In [174]:
data_a = pd.DataFrame({'x': [2, 4, 5, 9, 12], 'y': [6, 7, 10, 13, 13]})
data_a

    x   y
0   2   6
1   4   7
2   5  10
3   9  13
4  12  13

In [175]:
data_b = pd.DataFrame({'x': [2, 4, 5, 9, 12, 15], 'y': [6, 7, 10, 13, 13, 12]})
data_b

    x   y
0   2   6
1   4   7
2   5  10
3   9  13
4  12  13
5  15  12

In [176]:
dfi.export(data_a, './assets/data_a.png')
dfi.export(data_b, './assets/data_b.png')

In [177]:
h = lambda x: (1 / 3) * x + 1

In [178]:
data_a['pred_y'] = data_a['x'].apply(h)
data_a['error'] = data_a['pred_y'] - data_a['y']

In [179]:
data_a

    x   y    pred_y     error
0   2   6  1.666667 -4.333333
1   4   7  2.333333 -4.666667
2   5  10  2.666667 -7.333333
3   9  13  4.000000 -9.000000
4  12  13  5.000000 -8.000000

In [180]:
dfi.export(data_a, './assets/error_unoptimized.png')

In [181]:
data_a['squared_error'] = data_a['error'] ** 2

In [182]:
data_a

    x   y    pred_y     error  squared_error
0   2   6  1.666667 -4.333333      18.777778
1   4   7  2.333333 -4.666667      21.777778
2   5  10  2.666667 -7.333333      53.777778
3   9  13  4.000000 -9.000000      81.000000
4  12  13  5.000000 -8.000000      64.000000

In [183]:
dfi.export(data_a, './assets/squared_error_unoptimized.png')

In [184]:
mse = (data_a['error'] ** 2).sum() / (2 * data_a.shape[0])
mse

23.933333333333334

In [185]:
h_optimized = lambda x: (1) * x + 2

In [186]:
data_a['pred_y'] = data_a['x'].apply(h_optimized)
data_a['error'] = data_a['pred_y'] - data_a['y']

In [187]:
data_a.drop(columns=['squared_error'], inplace=True)
data_a

    x   y  pred_y  error
0   2   6       4     -2
1   4   7       6     -1
2   5  10       7     -3
3   9  13      11     -2
4  12  13      14      1

In [188]:
dfi.export(data_a, './assets/error_optimized.png')

In [189]:
data_a['squared_error'] = data_a['error'] ** 2

In [190]:
data_a

    x   y  pred_y  error  squared_error
0   2   6       4     -2              4
1   4   7       6     -1              1
2   5  10       7     -3              9
3   9  13      11     -2              4
4  12  13      14      1              1

In [191]:
dfi.export(data_a, './assets/squared_error_optimized.png')

In [192]:
optimized_mse = (data_a['error'] ** 2).sum() / (2 * data_a.shape[0])
optimized_mse

1.9